// Google font
@import url('http://fonts.cdnfonts.com/css/against-2');
// font-family: 'against', sans-serif; - Titre
// font-family: 'Satoshi', sans-serif; - Texte

// Couleurs
$dark: #000;
$white: #FFF;
$secondary: #E7E2DC;
$primary: #D7CCBF;
$default: #EEEEEE;

*,
::before,
::after {
  box-sizing: border-box;
  font-family: 'Satoshi', sans-serif;
  color: $dark;
  font-weight: 300;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  min-height: 100vh;
  background: $white;

  &::-webkit-scrollbar {
    display: none;
  }
}