@import 'settings';
@import 'loader';

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 10px 0;
    background: $white;
    z-index: 2;

    .center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
    }
}

.menu {
    position: fixed;
    inset: 0;
    background: $secondary;
    z-index: 5;
    transform: translateX(-100%);
    transition: .3s ease-in-out;

    &-navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;

        .center {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 95%;
        }

        &-right {
            img {
                width: 40px;
            }
        }
    }

    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90%;
        width: 100%;

        li {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding: 20px 0;
            cursor: pointer;

            span {
                margin-right: 10px;
                color: rgba($color: $white, $alpha: .5);
                transition: .3s ease;
            }

            h1 {
                font-size: 3.5rem;
                color: rgba($color: $white, $alpha: .5);
                transition: .3s ease;
                text-align: center;
            }

            &:hover {
                span {
                    color: $white;
                    transform: translate(30px);
                }

                h1 {
                    color: $white;
                    transform: translate(30px);
                }
            }
        }
    }
}

.menu.active {
    transform: translate(0);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    // height: 100vh;
    // overflow: hidden;
    // position: relative;

    .center {
        //position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 90%;
        gap: 30px;
    }

    &-images {
        //position: absolute;
        //height: 100vh;
        width: calc(100%/3);
        gap: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &-center {
        position: relative;

        h1 {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 4rem;
            //z-index: 5;
        }
    }
}

@media only screen and (max-width: 610px) {
    .menu {
        &-container {
            li {
                h1 {
                    font-size: 2rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 550px) {
    .container {
        .center {
            display: flex;
            flex-direction: column;
        }

        &-images {
            width: 100%;
            transform: translate(0) !important;
        }

        &-center {
            order: -1;
        }
    }
}

@media only screen and (max-width: 610px) {
    .menu {
        &-container {
            li {
                h1 {
                    font-size: 1.4rem;
                }
            }
        }
    }
}